.DS_Store
.ipynb_checkpoints
*.pyc
__pycache__
*.egg-info
build/*
dist/*
*~
.cache
.coverage
checkpoint
htmlcov
mnist
notebooks/2_BasicModels/MNIST_data/
notebooks/2_BasicModels/graphs/
/notebooks/1_Introduction/sessions/
